{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="mt-5"></div>
<h5>
	<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Full link</th>
      <th scope="col">Short link</th>
      <th scope="col">Creation time</th>
      <th scope="col">Follows</th>
    </tr>
  </thead>
  <tbody>
{% for link  in links  %}
    <tr>
		<th><a href="{{link.long_url}}">{{link.long_url}}</a></th>
		<td><a href="{{baseurl}}{{link.short_url}}">{{baseurl}}{{link.short_url}}</a></td>
		<td>{{link.created}}</a></td>
		<td>{{link.follows}}</td>
	</tr>
{% endfor %}
</tbody>
</table>
</h5>
{% endblock %}